body {
    background-image: linear-gradient(270deg, rgb(161, 217, 238), rgb(71, 203, 247));
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
}

h1 {
    font-size: 300%;
}

h4 {
    font-size: 120%;
}

h1,
h4 {
    font-family: sans-serif;
    color: white;
    text-align: center;
}

form {
    padding: 10px;
    background-color: white;
    max-height: 500px;
    min-height: 200px;
    height: 45vh;
    max-width: 500px;
    min-width: 100px;
    width: 60vw;
    margin: auto;
    border: none;
    border-right: solid 25px #4361ee;
    border-radius: 10px;
}

.form {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 200px;
    min-height: 100px;
    max-width: 500px;
    height: 20vh;
    padding: 10px;
    margin: 0px;
    border: none;
}

button {
    background-color: #4361ee;
    color: white;
    height: 5vh;
    max-width: 300px;
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 5px;
    border: solid 2px;
    border-radius: 7px;
    font-family: sans-serif;
    font-size: 20px;
    cursor: pointer;
}

#head {
    color: #4361ee;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 10px;
}

#time {
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1.3rem;
    background-color: #edede9;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: auto;
    border: none;
    border-radius: 7px;
    min-height: 5vh;
    width: 100%;
}

#result {
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1.3rem;
    background-color: #edede9;
    border-radius: 7px;
    width: 100%;
    min-height: 5vh;
    margin-bottom: 6vh;
    padding: 1px, 2px, 1px, 2px;
}

#result_heading {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #4361ee;
    margin-bottom: 0vh;
    margin-top: 8vh;
}