body {
    background-color: black;
}

h1 {
    font-size: 300%;
}

h4 {
    font-size: 120%;
}

h1,
h4 {
    font-family: sans-serif;
    color: white;
    text-align: center;
}

form {
    background-color: black;
    max-height: 500px;
    min-height: 200px;
    height: 60vh;
    max-width: 500px;
    min-width: 100px;
    width: 60vw;
    margin: auto;
}

.form {
    background-color: #403d39;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 200px;
    min-height: 100px;
    height: 20vh;
    padding: 10px;
    margin: 0px;
    border-color: red;
    border-left: none;
    border-right: none;
    border-top: none;
}

button {
    height: 5vh;
    width: 30vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: auto;
    margin-bottom: 0px;
    border-radius: 80px;
    font-family: sans-serif;
    font-size: 20px;
}

#head {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 120%;
    margin-top: 0px;
    margin-bottom: 10px;
}

#time {
    margin-top: 0px;
    margin-bottom: 10px;
    padding: auto;
    border: 3px solid #ccc5b9;
    min-height: 20px;
    width: 45%;
    height: 2vh;
}

#result_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    min-width: 100px;
    max-height: 310px;
    min-height: 100px;
    width: 60vw;
    height: 27vh;
    background-color: #403d39;
}

#result {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: #edf6f9;
    max-width: 160px;
    min-width: 80px;
    width: 20vw;
    border: 3px solid #ccc5b9;
    color: #011627;
    min-height: 10vh;
    height: 20vh;
    max-height: 110px;
}

#result_heading {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 180%;
    color: white;
    margin-bottom: 0vh;
    margin-top: 2vh;
}